:root {
    --border-color: #ffdab9;
    --inside-bg-color: #cd853f;
}

body {
    background-color: #92A8D1;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--inside-bg-color);
    flex-direction: column;
}

h1 {
    display: inline-block;
    align-items: center;
    font-size: 200%;
    background-color: var(--border-color);
    position: relative;
    right: 1%;
    padding: 1% 2%;
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--inside-bg-color);
}

.nav-content {
    display:flex;
    list-style: none;
}

.nav-content > li {
    margin: 0 50px 0 0;
    font-size: 1.25rem;
    list-style: none;
    font-weight: bold;
}

.subtitle-div {
    display: block;
    height: 150px;
    background: url('https://img.wallpapersafari.com/desktop/1024/576/73/62/4m3OyM.jpg');
    background-size: cover;
    filter:saturate(120%);
    filter:brightness(60%)
}

.about-me {
    display:block;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
}

h2 {
    font-size: 175%;
    padding-bottom: 10px;
}

hr {
    border: 1px solid var(--border-color);
}

#about-me-description {
    text-align: justify;
    padding-top: 15px;
}


.card-distribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#card-html {
    background: url('https://videohive.img.customer.envatousercontent.com/files/edf58567-0c1d-412c-9df8-c58505a7114f/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=d3246af46de46ab85e1579240ce7656f');
    background-size: cover;
    background-position: left;
}

#card-java {
    background: url('https://marvel-b1-cdn.bc0a.com/f00000000156946/www.jrebel.com/sites/rebel/files/image/2021-03/2021%20java%20technology%20report.jpeg');
    background-size: cover;
}

#card-github {
    background: url('https://miro.medium.com/max/1024/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg');
    background-size: cover;
    background-position: center;
}

.card {
    border: 5px solid var(--border-color);
    border-radius: 20px;
    flex: 0 1 400px;
    height: 400px;
    width: 400px;
}

.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: -48%;
}

h3 {
    color: black;
    font-size: 150%;
    display: inline-block;
    margin-top: 100px;
    background-color: var(--inside-bg-color);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}

a:hover > .card {
    box-shadow: inset 0px 0px 100px black;
}

a:hover > .card > h3 {
    box-shadow: inset 0px 0px 40px var(--border-color);
}

a:focus > .card{
    transform: scale(1.20);
}
/*
footer {
    width: 50%;
    background-color: var(--inside-bg-color);
    display: flex;
    justify-content: center;
    font-size: large;
    margin-left: 25%;
    margin-top:5%;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #92A8D1;
    flex: 1 1 auto;
} */

.footer-container {
    width: 50%;
    background-color: var(--inside-bg-color);
    display: flex;
    margin-left: 25%;
    flex-wrap: wrap;
    flex: 1 1 500px;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 150%;
}

.footer-ul {
    display:flex;
    justify-content: space-around;
    margin-right: 10%;
    list-style: none;
    flex: 1 1 auto;
}

.footer-ul > li {
    margin: 10px 10px;
    font-size: 16px;
    list-style: none;
    font-weight: bold;
}

  @media screen and (min-width: 992px) {
    header, .card-distribution, .footer-container {
        flex-direction: row;
    }
  }