:root {
    --border-color: #ffdab9;
    --inside-bg-color: #cd853f;
}
/* General styling, which affetcs globally */
body {
    background-color: #92A8D1;
    color: black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

li:hover {
    box-shadow: inset 0px 0px 40px var(--border-color);
    border-radius: 10px;
}

/* Header styling, made for phones first */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--inside-bg-color);
    flex-direction: column;
}

/* Header H1, my name */
h1 {
    display: inline-block;
    align-items: center;
    font-size: 200%;
    background-color: var(--border-color);
    position: relative;
    right: 1%;
    padding: 1% 2%;
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--inside-bg-color);
}

/* UL that contains all linkers to different sections */
.nav-content {
    display:flex;
    list-style: none;
}

/* Linkers themselves */
.nav-content > li {
    margin: 0 50px 0 10px;
    font-size: 1.25rem;
    list-style: none;
    font-weight: bold;
}

/* Photo underneath header */
.subtitle-div {
    display: block;
    height: 150px;
    background: url('https://img.wallpapersafari.com/desktop/1024/576/73/62/4m3OyM.jpg');
    background-size: cover;
    filter:saturate(120%);
    filter:brightness(60%)
}

/* About me section, H2 and brief description about myself */
.about-me {
    display:block;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
}

h2 {
    font-size: 175%;
    padding-bottom: 10px;
}

/* Line between h2 and paragraph */
hr {
    border: 1px solid var(--border-color);
}

/* About me paragraph */
#about-me-description {
    text-align: justify;
    padding: 15px 0;
}

/* Second section, where card are located main section of the web page */
.card-distribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

/* Images for cards */
#card-html {
    background: url('https://videohive.img.customer.envatousercontent.com/files/edf58567-0c1d-412c-9df8-c58505a7114f/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=d3246af46de46ab85e1579240ce7656f');
    background-size: cover;
    background-position: left;
}

#card-java {
    background: url('https://marvel-b1-cdn.bc0a.com/f00000000156946/www.jrebel.com/sites/rebel/files/image/2021-03/2021%20java%20technology%20report.jpeg');
    background-size: cover;
}

#card-github {
    background: url('https://miro.medium.com/max/1024/1*wzEf4qVNT7mUeMIeQWTJbg.jpeg');
    background-size: cover;
    background-position: center;
}

/* Card figure */
.card {
    border: 5px solid var(--border-color);
    border-radius: 20px;
    flex: 0 1 400px;
    height: 400px;
    width: 400px;
}

/* Headings inside cards, title to information after clicking the card */
h3 {
    color: black;
    font-size: 150%;
    display: inline-block;
    margin-top: 100px;
    background-color: var(--inside-bg-color);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px black;
}

/* To make cards react by hovering and make them bigger after focusing */
a:hover > .card {
    box-shadow: inset 0px 0px 100px black;
}

a:hover > .card > h3 {
    box-shadow: inset 0px 0px 40px var(--border-color);
}

a:focus > .card{
    transform: scale(1.20);
}

/* Division to contain all information on footer */
.footer-container {
    margin-top: 5%;
    width: 100%;
    background-color: var(--inside-bg-color);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

/* Heading Contact Me */
h4 {
    font-size: 125%;
}

/* List of all contact buttons */
.footer-ul {
    display:flex;
    justify-content: space-around;
    margin-right: 5%;
    list-style: none;
    flex: 1 1 auto;
}

.footer-ul > li {
    margin: 0 10px;
    font-size: 16px;
    list-style: none;
    font-weight: bold;
}

/* To display the web page according to screen size */
@media screen and (min-width: 668px) {
    
    .footer-container {
        width: 100%;
        flex: 1 1 auto;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    header, .card-distribution, .footer-container {
        flex-direction: row;
    }

    .footer-container > h4 {
        display: flex;
        margin-left: 30%;
    }

    .footer-container > ul{
        justify-content: center;
        flex: 0 1 400px;
    }
  }